<div layout="column">
  <h1>Change password</h1>
  <div class="md-whiteframe-z2" flex>
    <form class="form" name="settingsForm" ng-submit="vm.changePassword(settingsForm)" novalidate>

      <md-input-container>
        <label>Current password</label>
        <input type="password" name="password" ng-model="vm.user.oldPassword"
               required mongoose-error/>
        <!--
        <p class="help-block" ng-show="settingsForm.password.$error.mongoose">
            {{ errors.other }}
        </p>
        -->
      </div>

      <md-input-container>
        <label>New password</label>
        <input type="password" name="newPassword" ng-model="vm.user.newPassword"
               ng-minlength="3" required/>
         <!--
        <p class="help-block"
           ng-show="(settingsForm.newPassword.$error.minlength || settingsForm.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
          Password must be at least 3 characters.
        </p>
        -->
      </div>

      <!--
      <p class="help-block"> {{ vm.message }} </p>
      -->

      <md-button class="md-primary md-raised" type="submit">Save changes</md-button>
    </form>
  </div>
</div>
