<div layout="column">
  <div class="md-whiteframe-z2" flex>
    <h1>Login</h1>
  
    <p>Add here temporary easy access logins</p>

    <form class="form" name="loginForm" layout-align="center"  ng-submit="vm.login(loginForm)" novalidate>

      <md-input-container>
        <label>Email</label>
        <input type="email" name="email" ng-model="vm.user.email" required minlength="4">
        <!--
        <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty">
          <div ng-message="required">Email address is required!</div>
          <div ng-message="minlength">Email is too short!</div>
        </div>            
        -->
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" ng-model="vm.user.password" required minlength="4">
        <!--
        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
          <div ng-message="required">Password is required!</div>
          <div ng-message="minlength">Password is too short!</div>
        </div>
        -->            
      </md-input-container>

      <div layout="row">
        <md-button class="md-primary md-raised" ng-disabled="loginForm.$invalid" type="submit">
          Login
        </md-button>
        <md-button class="md-primary md-raised" href="/signup">
          Register
        </md-button>
      </div>

      <div ng-include="'app/account/auth/oauth.html'"></div>
        
    </form>
  </div>
</div>
