<div layout="column">
  <div class="md-whiteframe-z2" flex>
    <h1>Login</h1>
  
    <div>Temporary easy access buttons:</div>
    <md-button class="md-button md-raised" ng-aria="Kirsi Kiireinen" ng-click="vm.fillKirsiUser()">kirsi@test.com</md-button>
    <md-button class="md-button md-raised" ng-aria="admin user" ng-click="vm.fillAdminUser()">admin@admin.com</md-button>
    <md-button class="md-button md-raised" ng-aria="dummy user" ng-click="vm.fillDummyUser()">a dummy user</md-button>

    <form class="form" name="loginForm" layout-align="center"  ng-submit="vm.login(loginForm)" novalidate>

      <md-input-container>
        <label>Email</label>
        <input type="email" name="email" ng-model="vm.user.email" required minlength="4">
        <!--
        <div ng-messages="loginForm.email.$error">
          <div ng-message="required">Email address is required!</div>
          <div ng-message="minlength">Email is too short!</div>
        </div>
        -->            
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" ng-model="vm.user.password" required minlength="4">
        <!--
        <div ng-messages="loginForm.password.$error">
          <div ng-message="required">Password is required!</div>
          <div ng-message="minlength">Password is too short!</div>
        </div>
        -->
      </md-input-container>

      <div layout="row">
        <md-button class="md-primary md-raised" ng-disabled="loginForm.$invalid" type="submit">
          Login
        </md-button>
        <md-button class="md-primary md-raised" href="/signup">
          Sign Up
        </md-button>
      </div>

      <div ng-include="'app/account/auth/oauth.html'"></div>
        
    </form>
  </div>
</div>
