<section class="whiteframe-z2">
  <div flex layout="column">
    <md-content>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="job in vm.jobs">
          <div class="md-list-item-text">
            <a ng-href="/jobDetails/{{job._id}}">
              <h3>{{job.title}}</h3>
              <p>{{job.employer}}</p>
            </a>
          </div>
        </md-list-item>
      </md-list>
      
      <md-button class="md-raised" ng-href="/jobCreate">Create job</md-button>
    </md-content>    

<!--    
    <table id="table" border="1" > 
      <thead>
        <tr>
          <th>Title</th>
          <th>Employer</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in vm.jobs"
            ng-class-even="even"
            ng-class-odd="odd">
          <td data-title="Title">{{job.title}}</td>
          <td data-title="Employer">{{job.employer}}</td>
        </tr>    
      </tbody>
    </table>
    -->
    
  </div>
</section>

