<section>
  <md-tabs class="md-primary">
    <md-tab label="Browse jobs"></md-tab>
    <md-tab label="My jobs"></md-tab>
  </md-tabs>
</section>

<section class="whiteframe-z2">
  <div flex layout="column">
    
    <span flex>{{currentUser.name}}</span>
    <md-content>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="job in vm.jobs">
          <md-checkbox ng-model="job.bookmark"></md-checkbox>
          <div class="md-list-item-text">
            <h3>{{job.title}}</h3>
            <p>{{job.employer}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>    

<!--    
    <table id="table" border="1" > 
      <thead>
        <tr>
          <th>Title</th>
          <th>Employer</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in vm.jobs"
            ng-class-even="even"
            ng-class-odd="odd">
          <td data-title="Title">{{job.title}}</td>
          <td data-title="Employer">{{job.employer}}</td>
        </tr>    
      </tbody>
    </table>
    -->
    
  </div>
</section>

