<hr>

<div layout="column">
	<p>Or connect using social apps:</p>
	<div layout="row">
		<md-button class="md-fab md-primary" aria-label="facebook" ng-click="vm.loginOauth('facebook')">
		  <i class="fa fa-facebook"></i>
		</md-button>
		<md-button class="md-fab md-primary" aria-label="google+" ng-click="vm.loginOauth('google')">
		  <i class="fa fa-google-plus"></i>
		</md-button>
		<md-button class="md-fab md-primary" aria-label="twitter" ng-click="vm.loginOauth('twitter')">
		  <i class="fa fa-twitter"></i>
		</md-button>
	</div>
</div>
