<div layout="column">
  <div class="md-whiteframe-z2" flex>
    <h1>Sign up</h1>

    <form class="form" name="registerForm" ng-submit="register(registerForm)" novalidate>

      <md-input-container>
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="user.name"
               required/>
       <!--
        <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
          A name is required
        </p>
        -->
      </md-input-container>

      <md-input-container>
        <label>Email</label>

        <input type="email" name="email" class="form-control" ng-model="vm.user.email"
               required mongoose-error/>
         <!--
        <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ errors.email }}
        </p>
        -->
      </md-input-container>

      <md-input-container>
        <label>Password</label>

        <input type="password" name="password" class="form-control" ng-model="vm.user.password"
               ng-minlength="3" required mongoose-error/>
         <!--
        <p class="help-block"
           ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
          Password must be at least 3 characters.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ vm.errors.password }}
        </p>
        -->
      </md-input-container>

      <div layout="row">
        <md-button class="md-primary md-raised" type="submit">
          Sign up
        </md-button>
      </div>

      <div ng-include="'app/account/auth/oauth.html'"></div>

    </form>
  </div>
</div>
