<section class="whiteframe-z2">
  <div flex layout="column">
      
    <form class="form" name="jobForm" ng-submit="vm.createJob()" novalidate>

      <md-input-container>
        <label>Otsikko</label>
        <input type="text" name="title" ng-model="vm.job.title" required/>
       <!--
        <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
          A name is required
        </p>
        -->
      </md-input-container>

      <md-input-container>
        <label>Osoite</label>
        <input type="text" name="title" ng-model="vm.job.address.road" required/>
      </md-input-container>

      <md-input-container>
        <label>Kaupunki</label>
        <input type="text" name="title" ng-model="vm.job.address.city" required/>
      </md-input-container>

      <div layout="row">
        <md-button class="md-raised" type="submit">Create</md-button>
        <md-button class="md-raised" ng-href="/jobList">Cancel</md-button>
      </div>

    </form>
    
  </div>
</section>

